@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family:'Noto Sans KR', sans-serif;
    font-family:12px;
    line-height:1.2;
}

.pageHeader {
    background-color:#3f63bf;
    color:#c8d8ff;
}

.pageHeader .inner {
    width:1080px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:55px;
}

.pageHeader h1 {
    font-size:20px;
    font-weight:600;
}

.pageHeader .gnb {
    font-size:16px;
    font-weight:600;
}

.pageHeader .left {
    display:flex;
    align-items:center;
}

.pageHeader .gnb ul {
    display:flex;
}

.pageHeader .gnb li {
    margin-left:30px;
    position:relative;
}

.pageHeader .gnb li:before {
    content:'';
    width:1px;
    height:15px;
    display:block;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    left:-15px;
    top:calc(50% - 7.5px);
}

.pageHeader .gnb a:hover {
    opacity:0.5;
}

.pageHeader .right {
    font-size:12px;
    display:flex;
    align-items:center;
}

.pageHeader .btnLogin {
    border:1px solid rgba(0,0,0,0.3);
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    display:block;
    font-weight:600;
    margin-right:20px;
    padding:5px 10px;
    transition:all 0.4s;
}

.pageHeader .btnLogin:hover {
    background-color:rgba(0,0,0,0.3);
}

.pageHeader .btnGnb {
    width:55px;
    height:55px;
    border:1px solid rgba(0,0,0,0.4);
    border-width:0 1px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all 0.4s;
}

.pageHeader .btnGnb:hover {
    background-color:rgba(0,0,0,0.3);
}

/* header end */

/* submenu start */

.submenu {
    border-bottom:1px solid #E5E5E5
}

.submenu .submenu_inner {
    width:1080px;  
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}

.submenu .submenu_list {
    display:flex; 
    font-size:14px;
    font-weight:600; 
    width:800px;
} 

.submenu li {  
    /* flex:1; */
    text-align:center;
    margin-right:20px;
    /* 
    flex-grow:0;
    flex-shrink:1;
    flex-basis:auto;
    */
}

 
.submenu a {
    transition:all 0.2s; 
    line-height:46px;
    height:46px;
    display:block; 
    position:relative;
}

.submenu a:after {
    content:'';
    width:0;
    height:3px;
    background-color:#3f63bf;
    display:block;
    position:absolute;
    left:0;bottom:-1px; 
    transition:all 0.3s;
}

.submenu a:hover, .submenu li.on {
    color:#3f63bf;
}

.submenu a:hover:after,
.submenu li.on a:after {
    width:100%;
}



.submenu .searchWrap {
      
    line-height:25px;
    width:280px;
    position:relative;
}


.submenu .searchWrap input {
    background-color:#fafafa;
    font-size:12px;
    color:#888;
    width:100%;
    border:1px solid #d8d8d8;
    height:25px; 
    padding:2px 31px 0 9px;
}

 
.submenu .searchWrap input:focus { 
    outline:1px solid #3f63bf;
    background-color:#3f63bf;
    color:#fff;
}

.submenu .btn_search {
    position:absolute;
    right:16px;
    top:1px;
    width:25px;height:25px;
    border:none;
    background:url('./images/sp_news.png') no-repeat center center/16px 16px;
}


.news_title {
    width:1080px;
    margin:10px auto;
    display:flex;
    justify-content:space-between;
    padding:15px 0;
}

.news_title .menu{
    display:flex;
    font-size:14px;
    font-weight:500;
}

.news_title .menu li {
    position:relative;
    transition:all 0.4s;
}

.news_title .menu li:first-child {
    margin-right:40px;
}

.news_title .menu li.on,
.news_title .menu li:hover {
    color:#3f63bf;
}

.news_title .menu li.on:after,
.news_title .menu li:hover:after {
    background-position:center -4px;
}

.news_title .menu li:after {
    content:'';
    display:block;
    width:10px;
    height:5px;
    position:absolute;
    right:-20px;
    top:50%; /* calc(50% - 2.5px); */
    transform:translateY(-50%);
    background:url('./images/news_arrow.png') no-repeat center -15px;
}

.news_title .sideMenu {
    display:flex;
    font-size:13px;
    color:#555;
}

.news_title .sideMenu li {
    position:relative;
    margin-left:20px; 
}

/* .news_title .sideMenu li:first-child:before {
    display:none;
} */

.news_title .sideMenu li:not(:first-child):before {
    content:'';
    display:block;
    width:1px;
    height:13px;
    left:-10px;
    top:50%;
    transform:translateY(-50%);
    background-color:#999;
    position:absolute;
}



.news_title .sideMenu a:hover {
    text-decoration:underline;
}

.news_list { 
    width:1080px;
    margin:5px auto;
}

.list_headline {
    display:flex;
    justify-content:space-between;
}

.list_headline li { 
    width:calc( (100% - 60px) / 4 );
}

.list_headline li a { 
    display:block;
    padding:10px 20px;
    border:1px solid #ddd;
}


.list_headline li a:hover h3 {
    text-decoration:underline;
}
.list_headline h3 {
    font-size:14px;
    font-weight:600;
    padding-top:10px;
    margin-bottom:10px;
    border-top:1px solid #ddd;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.list_headline .content {
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:12px;
    color:#666;
}

.list_headline .content p {
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
}
 
.list_headline .thumb {
    width:80px;
    height:54px;
    overflow:hidden;
    flex-shrink:0; 
    margin-right:10px;
}


.list_headline .thumb img {
    width:100%;
    min-height:100%;
}

/* section start */

.newsGroup {
    width:1080px;
    margin:30px auto;
    display:flex;
    justify-content:space-between;
    border-top:1px solid #666;


}

.newsGroup .left {
    padding:25px 25px 25px 0;
    width:calc(100% - 327px);
}

.newsGroup .right {
    width:327px;
    border-left:1px solid #ddd;
    padding:25px 0 0 25px;
    box-sizing:border-box;

}

.headline_news header {
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.headline_news header h2 {
    font-size:20px;
    font-weight:600;
}

.headline_news header p {
    font-size:13px;
    color:#7d7d7d;
    margin-left:30px;
    position:relative;
}

.headline_news header p:before {
    content:'';
    width:1px;
    height:10px;
    display:block;
    background-color:rgba(0,0,0,0.3);
    top:calc(50% - 5px);
    left:-15px;
    position:absolute;
}

.headline_news .content {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.headline_news .thumb {
    width:300px;
    height:190px;
    border:1px solid #d7d7d7;
    box-sizing:border-box;
    overflow:hidden;
    display:block;
    flex-shrink:0;
    position:relative;
}

.headline_news .thumb img {
    max-width:100%;
    min-height:100%;
    position:absolute;
}

.headline_news .thumb .thumbtext {
    width:300px;
    height:66px;
    position:absolute;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:15px;
    color:white;
    background-color:rgba(0,0,0,0.5);
    bottom:0;
}

.headline_news .thumb .thumbtext p {
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    font-weight:bold;
    line-height:23px;
    padding-right:35px;
    margin-left:20px;
    font-size:13px;
    letter-spacing:-1px;
}

.headline_news .thumb .thumbtext .count {
    border:1px solid #d7d7d7;
    padding:4px 4px 4px 4px;
    border-radius:3px;
    font-size:9px;
    margin-right:20px;
}

.headline_news .list {
    width:calc(100% - 325px);
}

.headline_news li {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.headline_news li a {
    font-size:16px;
    font-weight:600;
    display:block;
    padding:8px 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:calc(100% - 50px);

    
}

.headline_news .list .count {
    display:block;
    border:1px solid #d8d8d8;
    font-size:10px;
    color:#aaa;
    padding:3px;
}

