@charset "utf-8";

body {
    background-color:#0A0C1C;
    width:1440px;
    height:800px;
    display:flex;
}

.background {
    width:1110px;
    height:446px;
    background-color:#1B1937;
    margin-top:117px;
    margin-bottom:117px;
    margin-left:auto;
    margin-right:auto;   
    display:flex;
    
}

.background .group1 {
    width:1110px;
    height:446px;
    color:white;
    padding-top:70px;
    padding-left:77px;
    flex-grow:1;
    flex-shrink:1;
    
    box-sizing:border-box;
    
}

.background .group1 h1 {
    font-size:36px;
    font-weight:bold;
}

.background .group1 h1>span {
    color:#AB5CDB;
}

.background .group1>p {
    margin-top:24px;
    font-size:15px;
    color:gray;
    line-height:25px;
    margin-bottom:72px;
}

.background .group1 .list .num1 {
    
    flex-grow:1;
    flex-shrink:1;
    width:83px;
    height:56px;
}

.background .group1 .list .num2 {
    
    flex-grow:1;
    flex-shrink:1;
    width:79px;
    height:56px;
}

.background .group1 .list .num3 {
   
    flex-grow:1;
    flex-shrink:1;
    width:66.5px;
    height:56px;
}

.background .group1 .list {
    width:351.5px;
    height:56px;
    display:flex;
    justify-content:space-between;
    text-align:left;
    text-transform:uppercase;

}

.background .group1 .list h2 {
    font-size:24px;
    font-weight:bold;
}

.background .group1 .list p {
    font-size:12px;
    color:gray;
    letter-spacing:1.5px;
    padding-top:10px;
}

.background .group2 img {
    width:540px;
    height:446px;
    flex-grow:1;
    flex-shrink:1;
}
    

